@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #2C3E58;
}
.category-shadow{
    box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.1);
}
.selected{
    @apply text-primary hidden;
}
.notSelected{
    @apply text-neutral/30;
}
input[type='radio'].size:checked + label .selected{
    display: inline-block !important;
}
input[type='radio'].size:checked + label .notSelected{
    display: none !important;
}
input[type='checkbox'].extra:checked + label .selected{
    display: inline-block !important;
}
input[type='checkbox'].extra:checked + label .notSelected{
    display: none !important;
}
.var-price{
    @apply text-sm;
}