@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #2C3E58;
}
.category-shadow{
    box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.1);
}
.selected{
    @apply text-primary hidden;
}
.notSelected{
    @apply text-neutral/30;
}
input[type='radio'].size:checked + label .selected{
    display: inline-block !important;
}
input[type='radio'].size:checked + label .notSelected{
    display: none !important;
}
input[type='checkbox'].extra:checked + label .selected{
    display: inline-block !important;
}
input[type='checkbox'].extra:checked + label .notSelected{
    display: none !important;
}
.var-price{
    @apply text-sm;
}
.label-text-pp{
    color: #ea5353;
    order: 1;
}
.toggle-primary{
    order: 2;
}
.label-text-d{
order: 3;
}
.toggle:checked ~ .label-text-d{
    color: #ea5353 !important;
}
.toggle:checked ~ .label-text-pp{
    color: #2C3D58 !important;
}


.toggle-primary{
    border-color: #ea5353;
    background-color: #ea5353;
}
.drawer-side{
    max-height: 100% !important;
}
.toastify{
    min-width: 300px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}